@font-face {
    font-family:"Palanquin";
    src: url(../../fonts/Palanquin-Regular.ttf);
}

@font-face {
    font-family:"Poppins";
    src: url(../../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family:"Rubik";
    src: url(../../fonts/Rubik-Regular.ttf);
}
.shopright{
    font-family: "Poppins";
font-size: 14px;
font-weight: 500;
line-height: 23.8px;
text-align: left;
color: #212121BF;
}
.shopright2{
    font-family: "Poppins";
font-size: 14px;
font-weight: 500;
line-height: 23.8px;
text-align: left;
color: #212121BF;
span{
    color: #DF4244;
}
}

.shoppingbagcards{
    h4{
        font-family: "Rubik";
font-size: 16px;
font-weight: 500;
color: #212121;
    }
    .p{
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 400;
        color: #212121BF;
    }
}
.itema{
    div{
        font-family: "Poppins";
font-size: 16px;
font-weight: 400;
line-height: 27.2px;


    }
}