.containerZZ{
    max-width: 1128px;
    margin: auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1128px;
    margin: auto;
}
.item{
    padding: 90px;

    text-align: center;
}
.itema{
    padding: 30px;
    text-align: center;
    position: relative;
}
.shoppingbagcards{
    padding: 47px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
     position: relative;
     margin: 20px 0;
     img{
        width: 100px;
        height: 100px;
      }
    h4{
        margin-top: 10px;
    }
    p{
        margin-top: 10px;
        font-family: Poppins;
font-size: 14px;
font-weight: 400;
color: #212121BF;

    }
    .canta{
        position: absolute;
        left: 0px;
        bottom: 30px;
    }
    .shopright{
        display: inline;
        position: absolute;
        right: 20px;
        bottom: 5px;
        img{
            width: 30px;
            height: 30px;
          }
    }
    .shopright2{
        display: inline;
        position: absolute;
        right: 120px;
        bottom: 5px;
        img{
            width: 30px;
            height: 30px;
          }
    }
    .price{
        display: inline;
        position: absolute;
        right: 5px;
        top: 5px;
    }


}
.contentG{
    background-color: #F9F9F9 ;
    position: relative;
    width: 280px;
   
 .subtotal{
    position: absolute;
    left: 7px;
    top: 10px;
 }
 .us{
    position: absolute;
    right: 7px;
    top: 10px;
 
 }
 .shippin{
    position: absolute;
   left: 7px;
   top: 60px;
 }
 .free{
    position: absolute;
    right: 7px;
    top: 60px;
 }
 .total{
    position: absolute;
    left: 7px;
    top: 100px;
 }
 .priz{
    position: absolute;
    right: 7px;
    top: 100px;
 }

}
 .but{
    margin-bottom: 10px;
    border-top: 1px dashed #D0D0D0;
    width: 270px;
    padding: 10px;
    position: absolute;
    left: 37px;
    top: 170px;
    border-bottom: 1px solid #DBDBDB;
    border-radius: 8px;
   .two{
    display: inline;
    margin-left: 7px;
    background-color: #FF695E;
    color: white;
   height: 48px;
   width: 102px;
   }
 }
.card{
    border-radius: 8px;
    padding: 14px;
    text-align: center;
    width: 270px;
    height: 52px;
    background-color: #DF4244;
    border: none;
    position: absolute;
    left: 37px;
    top: 230px;
    color: #FFFFFF;
}
.cash{
    border-radius: 8px;
    padding: 14px;
    text-align: center;
    width: 270px;
    height: 52px;
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 60px;
    color: black;
}

@media screen and (max-width: 992px) {
    .container{
        display: grid;
        grid-template-columns: auto;
    }
    .containerZZ{
        margin-top: 330px;
    }
    .contentG{
        width: 260px;
    }
    .shoppingbagcards{
        width: 300px;
    }
}

