.containerS{
    max-width: 1128px;
    margin: auto;
}

.userinfo{
    padding-bottom: 15px;
    h2{
        margin-bottom: 30px;
        font-size: 40px;
        font-family: "Rubik";
        font-weight: 500;
    }
    .boxsarea{
            gap: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        .maininfo{
            max-width: 264px;
            height: 344px;
            grid-row: 1/3;
            @include flex(space-evenly,start);
            flex-direction: column;
            border-radius: 8px;
            border: 2px solid #E4E4E4;
            .toparea{
                padding-left: 18px;
                @include flex(space-evenly,center);
                .Usercode{
                    .username{
                    font-size: 16px;
                    font-family: "Rubik";
                    font-weight: 600;
                }
                p{
                    border: none;
                    font-weight: 400px;
                    font-family: "Poppins";
                    font-weight: 400;
                }
            }
            }
            p{
                @include flex(start,center);
                padding-left: 18px;
                font-family: "Poppins";
                width: 100%;
                border-top: 1px solid #E4E4E4;
                border-bottom: 1px solid #E4E4E4;
                height: 56px;
            }
            .green{
                color: #007878;
                background-color: whitesmoke;
                border-left:2px solid #007878;
            }
        }
        .createnew{
            height: 309px;
            border: 1px solid #007878;
            border-style: dashed;
            border-radius: 8px;
            @include flex;
            flex-direction: column;
            gap: 20px;
            p{
                color: #212121BF;
            }
        }
        .work{
            overflow: hidden;
            height: 309px;
            border: 1px solid #007878;
            border-radius: 8px;
            @include flex(space-between,center);
            flex-direction: column;
            gap: 5px 0;
            .home{
                @include flex(space-between,center);
                border-bottom: 1px solid #E4E4E4;
                padding: 18px 12px;
                width: 100%;
                h6{
                    font-size: 16px;
                    font-family: "Poppins";
                    font-weight: 500;
                } 
            }
            .content{
                @include flex(start,start);
                flex-direction: column;
                h6{ 
                    padding:0px 0 15px 15px;
                    font-size: 14px;
                    font-family: "Poppins";
                    font-weight: 500;
                }
                p{  
                    padding:7px 0 7px 15px;
                    color: rgba(33, 33, 33, 0.75);
                    font-size: 14px;
                    font-family: "Poppins";
                    font-weight: 400;
                    width: 95%;
                }
            }
            .butts{
                width: 100%;
                @include flex(space-around,center);
                padding-bottom: 10px;
                button{
                    font-family: "Poppins";
                    width: 70px;
                    height: 30px;
                    border: 1px solid #E4E4E4;
                    background-color: white;
                    border-radius: 8px;
                    @include flex;
                }
            }

        }

    }
}

@media only screen and (max-width: 992px) {
    .userinfo{
        padding: 8px;
        .boxsarea{
            gap: 8px;
            display: grid;
            grid-template-columns: repeat((auto-fit, minmax(280px,2fr)));
            grid-template-rows: 1fr 1fr;
            .maininfo{
                // grid-column: 1/3;
                grid-row: 1/1;
            }
    }
}
}