@font-face {
  font-family: "Poppins";
  src: url(../../font/Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.centerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background-color: whitesmoke;

  .login-container {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    background-color: #fff;
  }

  h2,
  p {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .logForm {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .logForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .logForm button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(247, 81, 69, 1);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  a {
    text-decoration: none;
  }
}
