.containerS{
    max-width: 1128px;
    margin: auto;
}

.review{
    padding: 10px;
    margin-top: 40px;
    @include flex(center,flex-start);
    flex-direction: column;
    .head{
        width: 100%;
        .descrip{
            padding-bottom: 15px;
            width: 100%;
            border-bottom: 2px solid gray;
            span{
                color: rgb(162, 162, 162);
                padding-right:48px;
            }
            .underline{
                color: black;
                border-radius: 0.5px;
                border-bottom: 4px solid #DF4244;
                padding: 14px 0;
            }
        }
    }
    .threereviews{
        margin-top: 40px;
        gap: 20px 0px;
        flex-direction: column;
        @include flex(start,space-between);
        width: 100%;
        .contentrew{
            max-width: 960px;
            padding-left: 20px;
            border: 2px solid rgb(162, 162, 162);
            border-radius: 8px;
            flex-direction: column;
            @include flex(start,space-between);
            span{
                padding: 17px 0;
                display: flex;
                gap: 0 24px;
                h3{
                    font-family: "Rubik";
                    font-size: 20px;
                }
            }
            p{  
                max-width: 690px;
                font-family: "Poppins";
                padding: 8px 0
            } 
        }
    }
}


@media only screen and (max-width: 992px) {
    .threereviews{
        .contentrew{
            p{
                font-size: 9px;
            }
        }
    }
}